<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>Table Filter</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <style>
    #ui-datepicker-div {
      display: none;
    }
    .forid {
      display: none;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    div .tolet_availability {
      display: none
    }
    input[type=number] {
      -moz-appearance: textfield;
      appearance: none;
    }
    fieldset {
      border: none;
    }
    fieldset.fieldset-twocolumn .form-field {
      width: 50%
    }
    fieldset.fieldset-threecolumn .form-field {
      width: 33.33%;
    }
    fieldset.fieldset-twocolumn {
      display: flex;
      flex-wrap: wrap;
    }
    fieldset.fieldset-twocolumn {
      border: 1px solid black;
      padding: 9px;
      border-radius: 5px;
    }
    .popupBoxs {
      max-width: 600px;
    }
    fieldset.fieldset-threecolumn {
      display: flex;
      justify-content: space-evenly;
    }
    .form-field.radio-btn {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
    .form-field.radio-btn label {
      font-size: 17px;
      color: dimgray;
      padding: 5px;
    }
    select {
      width: 100%;
      padding: 12px 15px;
      border-radius: 5px;
    }
  .form-field h6 {
      display: inline;
    }
    input[type="number"] {
      width: 100%;
      padding: 12px 15px;
      border-radius: 5px;
    }
    input#yes {
      vertical-align: middle;
    }
    .residentail_letting {
      display: none;
    }
    .mybutton {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
    .main {
      width: 100%;
      display: flex;
      font-size: 13px;
      color: #000;
      align-items: center;
      justify-content: space-between;
    }
    .myimage {
      width: 65%;
      text-align: left;
    }
    .main div svg {
      height: 17px;
      width: 20px;
    }
    .myimgtype {
      width: 30%;
      text-align: left;
      padding-left: 10px;
    }
    .main input[type="button"] svg {
      height: 17px;
      width: 20px;
    }
    .main div.boxsRemove {
    width: 100px;
}
    .first-bg-s>div:first-child {
      display: none;
    }
  </style>



  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script>

    const formdata = new FormData()
    let selectedFiles = [];
    let selectedRoom = [];
    let myfile = []
    let roomes = []

    function onFileSelected(event) {
      selectedFiles = event.target.files;
      if (selectedFiles.length) {
        for (let i = 0; i < selectedFiles.length; i++) {
          formdata.append('image', selectedFiles[i]);
          $(".fieldset-fourcolumn").append(`<div class="main">
    <div class="myimgtype">
        <div class="radioGroup">
        <div class="radio">
            <input type="radio" id="jpg" name="' +${selectedFiles[i].name}+ '" value="Floor_plan">
            <label for="Floor_plan">Floor plan</label>
        </div>
        <div class="radio">
            <input type="radio" id="jpeg" name="' +${selectedFiles[i].name}+ '" value="EPC">
            <label for="EPC">EPC</label>
        </div>
    </div></div>
    <div class="myimage">${selectedFiles[i].name}</div>
    <div class="boxsRemove"><a href="#" class="delimg">remove</a></div>
    <br><br>
</div>`)
        }
      }
    }
    $(document).on('change', '.myimgtype .radio input:radio:checked', function () {
      var value = $(this).val();
      formdata.append('imagetype', value);
    });

    let myfeaturesdata = [];
    function myfeatures(event){
      const features = $('input[name="uniqueFeatures"]').val()
      myfeaturesdata.push(features)
      $('input[name="uniqueFeatures"]').val('');
      $('.feature_list').append(`<span>${features}</span>`);
    }
    function myvalue(event) {
      const myvalue = $(event.target).val()
      setFieldsView(myvalue);
    }
    function getBase64(file) {
      return new Promise((resolve) => {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          resolve(reader.result);
        };
        reader.onerror = function (error) {
          resolve('Error: ' + error);
        };
      });
    }
    async function myroomdata(event) {
      let roomImages = [];
      let imageBase64 = [];
      const imagelength = $('.fileinput').prop('files').length;
      for (let i = 0; i < imagelength; i++) {
        var imagename = $('.fileinput').prop('files')[i].name
        var imagedata = $('.fileinput').prop('files')[i]
        myfile.push(imagedata)
        roomImages.push(imagename)
        let fileBase = await getBase64($('.fileinput').prop('files')[i]);
        imageBase64.push(fileBase)
      }
      const myarray = {
        "summaryDescription": $('input[name="summaryDescription"]').val(),
        "roomName": $('input[name="roomName"]').val(),
        "uniqueFeatures": myfeaturesdata,
        "roomDimension": $('input[name="roomDimension"]').val(),
        "roomDescription": $('input[name="roomDescription"]').val(),
        "roomImage": roomImages
      }
      $('.feature_list').html('');
      myfeaturesdata = []
      const allfeatures = []

      $(event.target).parents().siblings('.roomFields').find('input').val('')
      var clonner = $('.newform-two-clr').eq(0).clone();
      $(clonner).find('.first-bg-s > div:gt(0)').remove();
      for (let image of imageBase64) 
      {
        var imageClon = $(clonner).find('.first-bg-s div').eq(0).clone();
        $(imageClon).find('.fst-bg-img').attr('style', "background-image: url('" + image + "')")
        $(clonner).find('.first-bg-s').append(imageClon);
      }
      clonner.find('.RemoveRoom').append('<a href="#">Remove Room</a>')
      clonner.find('.summaryDescription').find('.data').text(myarray.summaryDescription);
      for (let k = 0; k < myarray.uniqueFeatures.length; k++) {
              allfeatures.push(myarray.uniqueFeatures[k])
              clonner.find('.room-feature').find('.data').append(`<span>${allfeatures}</span>`);
              // clonner.find('.form-left-rq').eq(1).find('.data').text(myarray.uniqueFeatures.length);
            }
      clonner.find('.room-title').find('.data').text(myarray.roomName);
      clonner.find('.room-dimension').find('.data').text(myarray.roomDimension);
      clonner.find('.room-description').find('.data').text(myarray.roomDescription);
      // clonner.find('.form-left-rq').eq(5).find('.data').text(myarray.roomImage.length);
      $(clonner).find('.first-bg-s > div:eq(0)').remove();

      $('.newform-two-clr:last').after(clonner);

      // $('.newform-two-clr:last .first-bg-s').slick({
      $('.newform-two-clr:last .first-bg-s').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1
      });
      roomes.push(myarray);

    }
    $(document).on('click', '.deleteProp', function () {
      let _id = $(this).attr('data-id')
      $.ajax({
        url: "/api/property/delete",
        method: 'post',
        data: JSON.stringify({ _id: _id }),
        contentType: 'application/json',
        success: function (result) {
          // console.log(result)
          location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    });
    $(document).on('click', '.pushToHive', function () {
      let _id = $(this).attr('data-id')
      $.ajax({
        url: "/api/property/pushToHive",
        method: 'post',
        data: JSON.stringify({ _id: _id }),
        contentType: 'application/json',
        success: function (result) {
          // console.log(result)
          location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    });
    $(document).on('submit', 'form.propertyForm ', function (e) {
      e.preventDefault();
      var data = getFormData($('form.propertyForm'));
      data['userId'] = 1;
     
      let idToUpdate = data._id;
      if (idToUpdate) {
      } else {
        delete data._id;
      }
      const mydata = JSON.stringify(roomes)
      for (let j = 0; j < myfile.length; j++) {
        formdata.append('roomimage', myfile[j]);
      }
      // radio button
      formdata.append('active', $('input[name="active"]:checked').val());
      formdata.append('featured', $('input[name="featured"]:checked').val())
      formdata.append('type', $('input[name="type"]:checked').val());
      formdata.append('furnishing', $('input[name="furnishing"]:checked').val());

      //select button
      formdata.append('parking', $('#parking').val());
      formdata.append('outsideSpace', $('#outsideSpace').val());
      formdata.append('availability', $('#availability').val());
      formdata.append('tolet_availability', $('#tolet_availability').val());
      formdata.append('propertyType', $('#propertyType').val());

      // propety summary

      formdata.append('ownerContectDetails', data.ownerContectDetails);
      formdata.append('buildingName', data.buildingName);
      formdata.append('street', data.street);
      formdata.append('addrressLine2', data.addrressLine2);
      formdata.append('town', data.town);
      formdata.append('description', data.description);
      formdata.append('name', data.name);

      formdata.append('country', data.country);
      formdata.append('passcode', data.passcode);
      formdata.append('locationMap', data.locationMap);
      // property deatils
      formdata.append('bedrooms', data.bedrooms);
      formdata.append('bathrooms', data.bathrooms);
      formdata.append('receptionRooms', data.receptionRooms)
      formdata.append('councilTaxBand', data.councilTaxBand);

      //residentail sales details
      formdata.append('residentailOrio', data.residentailOrio);
      formdata.append('residentailOffersOver', data.residentailOffersOver);
      formdata.append('residentailGuidePrice', data.residentailGuidePrice)
      formdata.append('residentailFixPrice', data.residentailFixPrice);
      formdata.append('residentailPriceOnApplication', data.residentailPriceOnApplication);
      formdata.append('residentailFreeHold', data.residentailFreeHold)
      formdata.append('residentailLessHold', data.residentailLessHold);

      //residentail letting details
      formdata.append('perPersonPerWeek', data.perPersonPerWeek);
      formdata.append('perWeek', data.perWeek);
      formdata.append('perCalanderMonth', data.perCalanderMonth)
      formdata.append('perQuater', data.perQuater);
      formdata.append('perAnnum', data.perAnnum);

      formdata.append('deposit', data.deposit)
      formdata.append('availabaleDate', data.availabaleDate);
      formdata.append('minimumeTenancy', data.minimumeTenancy)

      formdata.append('room_information', mydata)
      formdata.append('_id', data._id)

      const urlEncoded = new URLSearchParams(formdata).toString()
      $.ajax({
        url: idToUpdate ? "/api/property/update" : "/api/property/create",
        method: 'post',
        data: formdata,
        contentType: false, //"application/x-www-form-urlencoded", //this is requireded please see answers above
        processData: false,
        cache: false,
        success: function (result) {
          // console.log(result)
          // location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    })
    function getFormData($form) {
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
      $.map(unindexed_array, function (n, i) {
        indexed_array[n['name']] = n['value'];
      });
      return indexed_array;
    }
    $(document).ready(function () {
      $(' .filter-img-s').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1
      });
    })
  </script>
</head>
<body>
  <div class="headerSection">
    <div  class="wrapper largerWrapper">
      <div class="header">
        <div class="headerleft">
          <a href="https://www.burrowsconsultancy.com/"  target="_blank">
              <img src="https://www.burrowsconsultancy.com/hubfs/BurrowsConsultancy-pos.svg">
          </a>
        </div>
        <div class="header-right">
            <a href="https://www.burrowsconsultancy.com/book-consultation"  target="_blank">Book a call</a>
        </div>
      </div>
  </div>

</div>

  <div class="popupSec" id="popupBox">
    <div class="popupsecinr">
      <div class="popupBoxs">
        <div class="close-rq">
          <div class="closeBTn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path
                d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z" />
            </svg>
          </div>
        </div>
        <div class="popupItem">
          <form class="propertyForm" enctype="multipart/form-data">
            <div class="mybutton mainTabButtons" onchange="myvalue(event)">
              <div class="radioGroup">
                  <div class="radio" for="mybutton1">
                    <input type="radio" id="mybutton1" class="mybutton" name="type" value="for_sale">
                      <label for="mybutton1">For Sale</label>
                  </div>
                  <div class="radio" for="mybutton2">
                      <input type="radio" id="mybutton2" class="mybutton" name="type" value="to_let">
                      <label for="mybutton2">To Let</label>
                  </div>
              </div>
            </div>
            <!-- propety summary -->
            <div class="form-title">
              <h4>Property Summray</h4>
            </div>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>Owner Contect Details</label>
                <input type="text" name="ownerContectDetails" placeholder="Owner contect details">
              </div>
            </fieldset>
            <!-- <div class="address-clr"> -->

            <div class="form-title">
              <h4>Address</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>Building Name/number</label>
                <input type="text" name="buildingName" placeholder="building name/number">
              </div>

              <div class="form-field">
                <label>Street</label>
                <input type="text" name="street" placeholder="street">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>Addrress Line 2</label>
                <input type="text" name="addrressLine2" placeholder="addrress line 2">
              </div>
              <div class="form-field">
                <label>Town/City</label>
                <input type="text" name="town" placeholder="town/city">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>Country/state</label>
                <input type="text" name="country" placeholder="country/state">
              </div>
              <div class="form-field">
                <label>Passcode/Zipcode</label>
                <input type="number" name="passcode" placeholder="passcode/zipcode">
              </div>
            </fieldset>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>Location Map</label>
                <input type="text" name="locationMap" placeholder="location map">
              </div>
            </fieldset>


            <!-- <div class="form-title">
              <h4>price</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>orio</label>
                <input type="text" name="orio" placeholder="orio">
              </div>

              <div class="form-field">
                <label>offers over</label>
                <input type="text" name="offers_over" placeholder="offers over">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>guide price</label>
                <input type="number" name="guide_price" placeholder="guide price">
              </div>
              <div class="form-field">
                <label>fixed price</label>
                <input type="number" name="fixed_price" placeholder="fixed price">
              </div>
            </fieldset>
            <div class="form-title">
              <h4>tenure</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>free hold</label>
                <input type="text" name="free_hold" placeholder="free hold">
              </div>
              <div class="form-field">
                <label>less hold</label>
                <input type="text" name="less_hold" placeholder="less hold">
              </div>
            </fieldset> -->
            <!-- propety summary end -->

            <!-- property deatils -->
            <div class="form-title">
              <h4>Property Deatils</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>Title</label>
                <input type="text" name="name" placeholder="Title">
              </div>
              <div class="form-field">
                <label>Description</label>
                <textarea type="number" name="description" placeholder="Property Description" rows="4"></textarea>
              </div>
            </fieldset>
            <fieldset class="fieldset-threecolumn">
              <div class="form-field">
                <label>Bedrooms</label>
                <input type="number" name="bedrooms" placeholder="bedrooms">
              </div>
              <div class="form-field">
                <label>Bathrooms</label>
                <input type="number" name="bathrooms" placeholder="bathrooms">
              </div>
              <div class="form-field">
                <label>Reception Rooms</label>
                <input type="number" name="receptionRooms" placeholder="reception rooms">
              </div>
            </fieldset>

            <fieldset class="fieldset-threecolumn">
              <div class="form-field propertyType">
                <label for="propertyType">Property Type:</label>
                <select id="propertyType">
                  <option name="propertyType" value="">Choose property type</option>
                  <option name="propertyType" value="apartment">apartment</option>
                  <option name="propertyType" value="bungalow">bungalow</option>
                  <option name="propertyType" value="cottage">cottage</option>
                </select>
              </div>
              <div class="form-field parking">
                <label for="parking">parking:</label>
                <select id="parking">
                  <option name="parking" value="">Choose parking</option>
                  <option name="parking" value="grage">Grage</option>
                  <option name="parking" value="carport">Carport</option>
                  <option name="parking" value="off-street">Off-street</option>
                </select>
              </div>
              <div class="form-field outsideSpace">
                <label>outsideSpace</label>
                <select id="outsideSpace">
                  <option name="outsideSpace" value="">Choose Outside Space</option>
                  <option name="outsideSpace" value="rear_garden">Rear Garden</option>
                  <option name="outsideSpace" value="front_garden">Front Garden</option>
                  <option name="outsideSpace" value="courtyard">Courtyard</option>
                  <option name="outsideSpace" value="balcony">Balcony</option>
                </select>
              </div>
            </fieldset>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>Council Tax Band</label>
                <input type="text" name="councilTaxBand" placeholder="council tax band">
              </div>
            </fieldset>
            <!-- property deatils end-->

            <!-- property marketing-->
            <div class="form-title">
              <h4>Property Marketing</h4>
            </div>
            <fieldset class="fieldset-threecolumn">
              <div class="form-field">
                <label>Active</label>
                <div class="radioGroup">
                  <div class="radio">
                    <input type="radio" class="active" id="active1" name="active" value="Yes">
                    <label for="active1">yes</label>
                  </div>
                  <div class="radio">
                    <input type="radio" class="active" id="active2" name="active" value="No">
                    <label for="active2">No</label>
                  </div>
                </div>

              </div>

              <div class="form-field">
                <label>Featured</label>
                <div class="radioGroup">
                  <div class="radio">
                    <input type="radio" class="featured" id="featured1" name="featured" value="Yes">
                    <label for="featured1">yes</label>
                  </div>
                  <div class="radio">
                    <input type="radio" class="featured" id="featured2" name="featured" value="No">
                    <label for="featured2">No</label>
                  </div>
                </div>
              </div>

              <div class="form-field availability">
                <label for="availability">availability:</label>
                <select id="availability">
                  <option name="availability" value="">Choose availability</option>
                  <option name="availability" value="for_sale">For Sale</option>
                  <option name="availability" value="under_offer">Under Offer</option>
                  <option name="availability" value="sold_stc">Sold Stc</option>
                  <option name="availability" value="sold">Sold</option>
                </select>
                </div>
                <div class="form-field tolet_availability">
                  <label for="availability">availability:</label>
                <select id="tolet_availability">
                  <option name="tolet_availability" value="">choose availability</option>
                  <option name="tolet_availability" value="to_let">To Let</option>
                  <option name="tolet_availability" value="let_agreed">Let Agreed</option>
                  <option name="tolet_availability" value="let">Let</option>
                </select>
              </div>
            </fieldset>
            <!-- property marketing end-->

            <!-- propery decription -->
            <div class="form-title">
              <h4>Property Description</h4>
            </div>
            <fieldset class="fieldset-twocolumn roomFields">

              <div class="form-field">
                <label>Summary Description</label>
                <input type="text" name="summaryDescription" placeholder="summary description">
              </div>
              <div class="form-field">
                <label>Room Name</label>
                <input type="text" name="roomName" placeholder="Room name">
              </div>
              <div class="form-field">
                <label>room dimension</label>
                <input type="text" name="roomDimension" placeholder="Room Dimension">
              </div>
              <div class="form-field">
                <label>room description</label>
                <input type="text" name="roomDescription" placeholder="Room description Text">
              </div>
              <div class="form-field">
                <label>roomimage</label>
                <input type="file" class="fileinput" name="roomimage" placeholder="roomimage" multiple="multiple">
              </div>

            </fieldset>

            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>Add Unique Features</label>
                <input type="text" name="uniqueFeatures" placeholder="unique features">
              </div>
              <div class="form-field">
                <button class="addroom" type="button" onclick="myfeatures(event)">Add Feature</button>
              </div>
              <div class="feature_list">

              </div>
            </fieldset>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <br>
                <button class="addroom" type="button" onclick="myroomdata(event)">Add Room</button>
              </div>
            </fieldset>
            <!-- propery decription end-->
            <div class="newform">
              <div class="new-form-inr">
                <div class="newform-two-clr changes-s">
                  <div class="bottom-clrq">

                    <div class="first-bg-s">
                      <div>
                        <div class="fst-bg-img"
                          style="background-image: url('https://propertyapp.hubresolution.com/profile/1703570719122_0asd.jpg');">
                        </div>
                      </div>
                    </div>
                    <div class="change-clr">
                      
                      <div class="form-left-rq room-title">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq summaryDescription">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq room-description">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq room-dimension">
                         <strong>Room Dimension</strong>
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq room-feature">
                        <strong>Room Features</strong>
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                    </div>
                    <div class="RemoveRoom">

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- residentail sales details -->
            <div class="residentail_sale">
              <div class="form-title">
                <h4> residentail price</h4>
              </div>

              <fieldset class="fieldset-twocolumn ">
                <div class="form-field">
                  <label>orio</label>
                  <input type="text" name="residentailOrio" placeholder="residentail orio">
                </div>
                <div class="form-field">
                  <label>offers over</label>
                  <input type="text" name="residentailOffersOver" placeholder="residentail offers over">
                </div>
              </fieldset>
              <fieldset class="fieldset-threecolumn ">
                <div class="form-field">
                  <label>guide price</label>
                  <input type="number" name="residentailGuidePrice" placeholder="residentail guide price">
                </div>
                <div class="form-field">
                  <label>fix price</label>
                  <input type="number" name="residentailFixPrice" placeholder="residentail fix price">
                </div>
                <div class="form-field">
                  <label>price on application</label>
                  <input type="number" name="residentailPriceOnApplication"
                    placeholder="residentail_price on application" multiple="multiple">
                </div>
              </fieldset>

              <div class="form-title">
                <h4>residentail tenure</h4>
              </div>
              <fieldset class="fieldset-twocolumn">
                <div class="form-field">
                  <label>free hold</label>
                  <input type="text" name="residentailFreeHold" placeholder="residentail free hold">
                </div>
                <div class="form-field">
                  <label>less hold</label>
                  <input type="text" name="residentailLessHold" placeholder="residentail less hold">
                </div>
              </fieldset>
            </div>
            <!-- residentail sales details end -->

            <!-- residentail letting details -->
            <div class="residentail_letting">
              <div class="form-title">
                <h4>residentail letting</h4>
              </div>

              <fieldset class="fieldset-twocolumn ">
                <div class="form-field">
                  <label>per person per week</label>
                  <input type="text" name="perPersonPerWeek" placeholder="per person per week">
                </div>
                <div class="form-field">
                  <label>per week</label>
                  <input type="text" name="perWeek" placeholder="per week">
                </div>
              </fieldset>
              <fieldset class="fieldset-threecolumn ">
                <div class="form-field">
                  <label>per calander month</label>
                  <input type="number" name="perCalanderMonth" placeholder="per calander month">
                </div>
                <div class="form-field">
                  <label>per quater</label>
                  <input type="number" name="perQuater" placeholder="perQuater">
                </div>
                <div class="form-field">
                  <label>per annum</label>
                  <input type="number" name="perAnnum" placeholder="perAnnum" multiple="multiple">
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn ">
                <div class="form-field">
                  <label>deposit</label>
                  <input type="text" name="deposit" placeholder="deposit">
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <label>furnishing</label>
                  <div class="radioGroup">
                    <div class="radio">
                      <input type="radio" id="unfurnished" name="furnishing" value="unfurnished">
                      <label for="unfurnished">Unfurnished</label>
                    </div>
                    <div class="radio">
                      <input type="radio" id="furnished" name="furnishing" value="furnished">
                      <label for="furnished">Furnished</label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <label>Available Date</label>
                  <input type="date" name="availabaleDate" class="availabaleDate">
                  <!-- <div class="availabaleDate"></div> -->
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <label>Minimum Tenancy</label>
                  <input type="text" name="minimumeTenancy" placeholder="minimume Tenancy">
                </div>
              </fieldset>
            </div>
            <!-- residentail letting details end -->

            <!-- Property media -->
            <div class="form-title">
              <h4>Media</h4>
            </div>
            <div class="media-clr">
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <input type="file" id="image" name="image" class="imageadd" multiple="multiple"
                    onchange="onFileSelected(event)" />
                </div>
              </fieldset>
            </div>
            <fieldset class="fieldset-fourcolumn">
            </fieldset>
            <!-- Property media end -->

            <div class="form-field forid">
              <input type="text" name="_id" placeholder="id">
            </div>

            <!-- Submit -->
            <div class="submit-btn">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class=" wrapper largerWrapper">
    <div class="AddButton">
      <a href="javascript:void(0)" class="addProperty">Add New Property</a>
    </div>
  </div>
  <!-- <a href="mypage.ejs" class="showProp">see details</a> -->
  <section class="new-filter-section">
    <div class="wrapper">
      <div class="new-filter-inr">
        <div class="filter-cols">
          <% properties.forEach((item)=>{%>
            <div class="filter-box">
              <div class="filter-box-inr">
                <div class="filter-img-s">
                  <% item.image.forEach((image)=>{%>
                    <%- image.image %>
                      <div>
                        <div class="filer-bg-img" style="background-image: url(/profile/<%-image.imagedata%>);">
                          <!--style="background-image: url(https://propertyapp.hubresolution.com/profile/<%-image.image%>);">  -->

                        </div>
                      </div>
                      <%});%>
                </div>
                <div class="filter-bottom-s">
                  <div class="content-s">
                    <span>Property Owner</span>
                    <span><%- item.ownerContectDetails %></span>
                  </div>
                  <div class="summary-con">
                    <h2><%- item.name %></h2>
                  </div>
                  <div class="summary-description">
                    <%- item.description %>
                  </div>
                  <div class="price-parent">
                    <div class="price-title fixPrice">

                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                          d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 16.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.384-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.724.019 1.536.145 2.442.42l-.362 1.647c-.768-.27-1.617-.515-2.443-.465-1.489.087-1.62 1.376-.581 1.916 1.712.805 3.944 1.402 3.944 3.547.002 1.718-1.343 2.632-3 2.864z">
                        </path>
                      </svg>
                      <span>
                        <% if(item.rent && item.rent.perCalanderMonth) { %>
                          <%- item.rent.perCalanderMonth%> PM
                            <% } else{ %>

                              <% } %>


                      <% if(item.details_price && item.details_price.residentailFixPrice) { %>
                        <%- item.details_price.residentailFixPrice%> Fix Price
                          <% } else{ %>

                            <% } %>
                      </span>
                    </div>
                    <div class="price-title">
                      <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                        clip-rule="evenodd">
                        <path
                          d="M24 19v-7h-23v-7h-1v14h1v-2h22v2h1zm-20-12c1.104 0 2 .896 2 2s-.896 2-2 2-2-.896-2-2 .896-2 2-2zm19 4c0-1.657-1.343-3-3-3h-13v3h16z" />
                      </svg>
                      <span>
                        <% if(item.bedrooms) { %>
                          <%- item.bedrooms%>
                            <% } else{ %>
                              0
                              <% } %>
                      </span>
                    </div>
                  </div>
                  <div class="hubspot-buttons">
                    <a href="javascript:void(0)" class="editProp" data-id="<%- item._id %>">Edit</a>
                    <a href="javascript:void(0)" class="deleteProp" data-id="<%- item._id %>">Delete</a>
                    <% if(!item.pushedToHive) { %>
                        <a href="javascript:void(0)" class="pushToHive" data-id="<%- item._id %>">Upload to RightMove</a>

                      <% } else{ %>

                        <% } %>
                  </div>
                  <div class="button-s">
                    <div class="button">

                    </div>
                    <div class="button">

                    </div>



                  </div>
                </div>
              </div>
            </div>
            <%});%>

        </div>
      </div>
    </div>
  </section>
<br>
<br>
<br>
<div class="footer-section">
  <div class="wrapper largerWrapper">
    <div class="footer-logo">
      <a href="https://www.burrowsconsultancy.com"  target="_blank">
        <img src="https://www.burrowsconsultancy.com/hubfs/BurrowsConsultancy-neg.svg" alt="Burrows Consultancy" loading="lazy" width="249" height="25">
      </a>
    </div>
    <div class="footer-list">
        <ul>
          <li><a href="https://www.burrowsconsultancy.com/terms-conditions" target="_blank">Terms &amp; Conditions</a></li>
          <li><a href="https://www.burrowsconsultancy.com/privacy-policy" target="_blank">Privacy</a></li>
          <li><a href="https://www.burrowsconsultancy.com/website-quotation-calculator" target="_blank">Website Quotation Calculator</a></li>
          <li><a href="https://www.burrowsconsultancy.com/website-report" target="_blank">Analyse Your Website</a></li>
          <li><a href="https://www.burrowsconsultancy.com/hubspot-roi-calculator" target="_blank">HubSpot ROI Calculator</a></li>
          <li><a href="https://www.burrowsconsultancy.com/blog" target="_blank">Blog</a></li>
        </ul>
    </div>
    <div class="footer-copyright">
      <p>©Burrows Digital Consultants Ltd. Registered in the UK 4773361. Powered by <a href="https://www.hubspot.com/" target="_blank" rel="noopener">HubSpot</a></p>
    </div>
  </div>
</div>

</body>

</html>