<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Table Filter</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <style>
    .forid{display: none;}
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    div #tolet_availability
    {display: none}
    input[type=number] {
      -moz-appearance: textfield;
      appearance: none;
    }

    fieldset {
      border: none;
    }

    fieldset.fieldset-twocolumn .form-field {
      width: 50%
    }

    fieldset.fieldset-threecolumn .form-field {
      width: 30%;
    }

    fieldset.fieldset-twocolumn {
      display: flex;
      flex-wrap: wrap;
    }

    fieldset.fieldset-twocolumn {
      border: 1px solid black;
      padding: 9px;
      border-radius: 5px;
    }

    .popupBoxs {
      max-width: 600px;
    }

    fieldset.fieldset-threecolumn {
      display: flex;
      justify-content: space-evenly;
    }

    .form-field.radio-btn {
      display: flex;
      align-items: center;
      padding-left: 20px;
    }

    .form-field.radio-btn label {
      font-size: 17px;
      color: dimgray;
      padding: 5px;
    }

    select {
      width: 100%;
      padding: 12px 15px;
      border-radius: 5px;
    }

    .form-field h6 {
      display: inline;
    }

    input[type="number"] {
      width: 100%;
      padding: 12px 15px;
      border-radius: 5px;
    }

    input#yes {
      vertical-align: middle;
    }

    .residentail_letting {
      display: none;
    }

    .mybutton {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }
.main {width: 100%;display: flex;}
.myimage {width: 35%;text-align: left;}
.main div svg {height: 17px;width: 20px;}
.myimgtype {width: 20%;text-align: left;padding-left: 10px;}
.main div{width: calc(100% - 55%);}
.main div svg {height: 17px;width: 20px;}
    .first-bg-s > div:first-child{
      display: none;
    }
    /* #availability option:first-child{
        display: none;
    } */
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script>
    const formdata = new FormData()
    let selectedFiles = [];
    let selectedRoom = [];
    let myfile = []
    let roomes = []

    function onFileSelected(event) {
      selectedFiles = event.target.files;
      if (selectedFiles.length) {
        for (let i = 0; i < selectedFiles.length; i++){
          $(".fieldset-fourcolumn").append('<div class="right-cols"><input type="radio" id="jpg" name="'+ selectedFiles[i].name+'" value="Floor_plan"><label for="Floor_plan">Floor plan</label><br><input type="radio" id="jpeg" name="'+ selectedFiles[i].name+'" value="EPC"><label for="EPC">EPC</label><br></div><div class="form-field left-colr">' + selectedFiles[i].name + '"</div></fieldset>')
          formdata.append('image', selectedFiles[i])
        }
      }
    }
    $(document).on('change', '.right-cols input:radio:checked', function () {
      var value = $(this).val();
      formdata.append('imagetype', value);
    });
    let myfeaturesdata = []
    function myfeatures(event) {
      const features = $(event.target).parents('.roomFields ').find('.form-field:nth-child(3) input').val()
      myfeaturesdata.push(features)
      $(event.target).parents('.roomFields').find('.form-field:nth-child(3) input').val('');
    }
    function myvalue(event) {
      const myvalue = $(event.target).closest('input').val()

      if (myvalue == 'to_let') {
        $(document).find('div .residentail_sale').hide()
        $(document).find('div .residentail_letting').show()
        $(document).find('div #tolet_availability').show()
        $(document).find('div #availability').hide()

      }
      if (myvalue == 'for_sale') {
        $(document).find('div .residentail_sale').show()
        $(document).find('div .residentail_letting').hide()
        $(document).find('div  #availability').show()
        $(document).find('div #tolet_availability').hide()

      }
    }
    function getBase64(file) {
      return new Promise((resolve) => {
        var reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
          resolve(reader.result);
        };
        reader.onerror = function (error) {
          resolve('Error: '+error);
        };
      });

    }
    async function myroomdata(event) {
      let roomImages = [];
      let imageBase64 = [];
      const imagelength = $(event.target).parents('.roomFields').find('.form-field:nth-child(7) .fileinput').prop('files').length;
      for (let i = 0; i < imagelength; i++) {
        var imagename = $(event.target).parents('.roomFields').find('.form-field:nth-child(7) .fileinput').prop('files')[i].name
        var imagedata = $(event.target).parents('.roomFields').find('.form-field:nth-child(7) .fileinput').prop('files')[i]
        myfile.push(imagedata)
        roomImages.push(imagename)
        let fileBase = await getBase64($(event.target).parents('.roomFields').find('.form-field:nth-child(7) .fileinput').prop('files')[i]);
        imageBase64.push(fileBase)
      }
      const myarray = {
        "summary_description": $(event.target).parents('.roomFields ').find('.form-field:nth-child(1) input').val(),
        "room_name": $(event.target).parents('.roomFields').find('.form-field:nth-child(2) input').val(),
        "unique_features": myfeaturesdata,
        "room_dimension": $(event.target).parents('.roomFields ').find('.form-field:nth-child(5) input').val(),
        "room_description": $(event.target).parents('.roomFields').find('.form-field:nth-child(6) input').val(),
        "roomImage": roomImages
      }
      myfeaturesdata = []

      $(event.target).parents('.roomFields').find('.form-field input').val('');
      var clonner = $('.newform-two-clr').eq(0).clone();

      $(clonner).find('.first-bg-s > div:gt(0)').remove();
      console.log(imageBase64);
      for (let image of imageBase64) {
        var imageClon = $(clonner).find('.first-bg-s div').eq(0).clone();
        $(imageClon).find('.fst-bg-img').attr('style', "background-image: url('"+image+"')")
        $(clonner).find('.first-bg-s').append(imageClon);
      }
      clonner.find('.form-left-rq').eq(0).find('.data').text(myarray.summary_description);
      clonner.find('.form-left-rq').eq(1).find('.data').text(myarray.unique_features.length);
      clonner.find('.form-left-rq').eq(2).find('.data').text(myarray.room_name);
      clonner.find('.form-left-rq').eq(3).find('.data').text(myarray.room_dimension);
      clonner.find('.form-left-rq').eq(4).find('.data').text(myarray.room_description);
      clonner.find('.form-left-rq').eq(5).find('.data').text(myarray.roomImage.length);
      $(clonner).find('.first-bg-s > div:eq(0)').remove();
      $('.newform-two-clr:last').after(clonner);
      $('.newform-two-clr:last .first-bg-s').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1
      });
      roomes.push(myarray);

    }
    $(document).on('click', '.deleteProp', function () {
      let _id = $(this).attr('data-id')
      $.ajax({
        url: "/api/property/delete",
        method: 'post',
        data: JSON.stringify({ _id: _id }),
        contentType: 'application/json',
        success: function (result) {
          // console.log(result)
          location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    });
    $(document).on('click', '.pushToHive', function () {
      let _id = $(this).attr('data-id')
      $.ajax({
        url: "/api/property/pushToHive",
        method: 'post',
        data: JSON.stringify({ _id: _id }),
        contentType: 'application/json',
        success: function (result) {
          // console.log(result)
          location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    });
    $(document).on('submit', 'form.propertyForm ', function (e) {
      e.preventDefault();
      var data = getFormData($('form.propertyForm'));
      data['userId'] = 1;
     console.log(data)
      let idToUpdate = data.id;
      
      if (idToUpdate) {
      } else {
        delete data.id;
      }
      console.log(roomes)
      const mydata = JSON.stringify(roomes)
      for (let j = 0; j < myfile.length; j++) {
        formdata.append('roomimage', myfile[j]);
      }
     // radio button
      formdata.append('active', $('input[name="active"]:checked').val());
      formdata.append('featured',$('input[name="featured"]:checked').val())
      formdata.append('propertytype',$('input[name="propertytype"]:checked').val())
      formdata.append('furnishing', $('input[name="furnishing"]:checked').val());

      //select button
      formdata.append('parking',  $('#parking').val());
      formdata.append('outside_space',  $('#outside_space').val());
      formdata.append('availability',  $('#availability').val());
      formdata.append('property_type',  $('#property_type').val());

      // propety summary

      formdata.append('owner_contect_details', data.owner_contect_details);

      formdata.append('building_name', data.building_name);
      formdata.append('street', data.street);
      formdata.append('addrress_line_2', data.addrress_line_2);
      formdata.append('town', data.town);
      formdata.append('country', data.country);
      formdata.append('passcode', data.passcode);
      formdata.append('location_map', data.location_map);

      formdata.append('price', data.price);
      formdata.append('orio', data.orio);
      formdata.append('offers_over', data.offers_over);
      formdata.append('guide_price', data.guide_price);
      formdata.append('fixed_price', data.fixed_price);

      formdata.append('free_hold', data.free_hold);
      formdata.append('less_hold', data.less_hold);

      // property deatils
      formdata.append('bedrooms', data.bedrooms);
      formdata.append('bathrooms', data.bathrooms);
      formdata.append('reception_rooms', data.reception_rooms)
      formdata.append('council_tax_band', data.council_tax_band);

      //residentail sales details
      formdata.append('residentail_orio', data.residentail_orio);
      formdata.append('residentail_offers_over', data.residentail_offers_over);
      formdata.append('residentail_guide_price', data.residentail_guide_price)
      formdata.append('residentail_fix_price', data.residentail_fix_price);
      formdata.append('residentail_price_on_application', data.residentail_price_on_application);
      formdata.append('residentail_free_hold', data.residentail_free_hold)
      formdata.append('residentail_less_hold', data.residentail_less_hold);

      //residentail letting details
      formdata.append('per_person_per_week', data.per_person_per_week);
      formdata.append('per_week', data.per_week);
      formdata.append('per_calander_month', data.per_calander_month)
      formdata.append('per_quater', data.per_quater);
      formdata.append('per_annum', data.per_annum);
      formdata.append('deposit', data.deposit)
      formdata.append('availabale_date', data.availabale_date);
      formdata.append('minimume_tenancy', data.minimume_tenancy)

      formdata.append('room_information', mydata)
      formdata.append('id', data.id)
      console.log(data)
      const urlEncoded = new URLSearchParams(formdata).toString()
      $.ajax({
        url: idToUpdate ? "/api/property/update" : "/api/property/create",
        method: 'post',
        data: formdata,
        contentType:   false , //"application/x-www-form-urlencoded", //this is requireded please see answers above
        processData: false,
        cache: false,
        success: function (result) {
          // console.log(result)
          location.reload();
        },
        error: function (result) {
          console.log("error", result)
        }
      });
    })
    function getFormData($form) {
      var unindexed_array = $form.serializeArray();
      var indexed_array = {};
      $.map(unindexed_array, function (n, i) {
        indexed_array[n['name']] = n['value'];
      });
      return indexed_array;
    }
    $(document).ready(function () {
      $('.filter-img-s').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1
      });
    })
  </script>
</head>

<body>
  <div class="popupSec" id="popupBox">
    <div class="popupsecinr">
      <div class="popupBoxs">
        <div class="close-rq">
          <div class="closeBTn">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
              <path
                d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z" />
            </svg>
          </div>
        </div>
        <div class="popupItem">
          <form class="propertyForm" enctype="multipart/form-data">
            <div class="mybutton" onchange="myvalue(event)">
              <h6>for sale</h6><input type="radio" id="mybutton1" class="mybutton" name="propertytype" value="for_sale">
              <h6>to let</h6><input type="radio"  id="mybutton2" class="mybutton" name="propertytype" value="to_let">
            </div>
            <!-- propety summary -->
            <div class="form-title">
              <h4>propertySummray</h4>
            </div>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>owner_contect_details</label>
                <input type="text" name="owner_contect_details" placeholder="owner contect details">
              </div>
            </fieldset>
            <!-- <div class="address-clr"> -->

            <div class="form-title">
              <h4>address</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>building_name/number</label>
                <input type="text" name="building_name" placeholder="building name/number">
              </div>

              <div class="form-field">
                <label>street</label>
                <input type="text" name="street" placeholder="street">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>addrress_line_2</label>
                <input type="text" name="addrress_line_2" placeholder="addrress line 2">
              </div>
              <div class="form-field">
                <label>town/city</label>
                <input type="text" name="town" placeholder="town/city">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>country/state</label>
                <input type="text" name="country" placeholder="country/state">
              </div>
              <div class="form-field">
                <label>passcode/zipcode</label>
                <input type="number" name="passcode" placeholder="passcode/zipcode">
              </div>
            </fieldset>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>location_map</label>
                <input type="text" name="location_map" placeholder="location map">
              </div>
            </fieldset>


            <!-- <div class="form-title">
              <h4>price</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>orio</label>
                <input type="text" name="orio" placeholder="orio">
              </div>

              <div class="form-field">
                <label>offers over</label>
                <input type="text" name="offers_over" placeholder="offers over">
              </div>
            </fieldset>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>guide price</label>
                <input type="number" name="guide_price" placeholder="guide price">
              </div>
              <div class="form-field">
                <label>fixed price</label>
                <input type="number" name="fixed_price" placeholder="fixed price">
              </div>
            </fieldset>
            <div class="form-title">
              <h4>tenure</h4>
            </div>
            <fieldset class="fieldset-twocolumn">
              <div class="form-field">
                <label>free hold</label>
                <input type="text" name="free_hold" placeholder="free hold">
              </div>
              <div class="form-field">
                <label>less hold</label>
                <input type="text" name="less_hold" placeholder="less hold">
              </div>
            </fieldset> -->
            <!-- propety summary end -->

            <!-- property deatils -->
            <div class="form-title">
              <h4>property deatils</h4>
            </div>
            <fieldset class="fieldset-threecolumn">
              <div class="form-field">
                <label>bedrooms</label>
                <input type="number" name="bedrooms" placeholder="bedrooms">
              </div>
              <div class="form-field">
                <label>bathrooms</label>
                <input type="number" name="bathrooms" placeholder="bathrooms">
              </div>
              <div class="form-field">
                <label>reception rooms</label>
                <input type="number" name="reception_rooms" placeholder="reception rooms">
              </div>
            </fieldset>

            <fieldset class="fieldset-threecolumn">
              <div class="form-field property_type" >
                <label for="property_type">property type:</label>
                <select id="property_type">
                  <option name="property_type" value="">choose property type</option>
                  <option name="property_type" value="apartment">apartment</option>
                  <option name="property_type" value="bungalow">bungalow</option>
                  <option name="property_type" value="cottage">cottage</option>
                </select>
              </div>
              <div class="form-field parking">
                <label for="parking">parking:</label>
                <select id="parking" >
                  <option name="parking" value="">choose parking</option>
                  <option name="parking" value="grage">grage</option>
                  <option name="parking" value="carport">carport</option>
                  <option name="parking" value="off-street">off-street</option>
                </select>
              </div>
              <div class="form-field outside_space">
                <label>outside_space</label>
                <select id="outside_space">
                  <option name="outside_space" value="">choose outside space</option>
                  <option name="outside_space" value="rear_garden">rear garden</option>
                  <option name="outside_space" value="front_garden">front garden</option>
                  <option name="outside_space" value="courtyard">courtyard</option>
                  <option name="outside_space" value="balcony">balcony</option>
                </select>
              </div>
            </fieldset>
            <fieldset class="fieldset-onecolumn">
              <div class="form-field">
                <label>council_tax_band</label>
                <input type="text" name="council_tax_band" placeholder="council tax band">
              </div>
            </fieldset>
            <!-- property deatils end-->



            <!-- property marketing-->
            <div class="form-title">
              <h4>property marketing</h4>
            </div>
            <fieldset class="fieldset-threecolumn">
              <div class="form-field">
                <label>active</label>
                <h6>yes</h6><input type="radio" class="active" id="active1" name="active" value="yes">
                <h6>no</h6><input type="radio" class="active" id="active2" name="active" value="no">
              </div>

              <div class="form-field">
                <label>featured</label>
                <h6>yes</h6><input type="radio" class="featured" id="featured1" name="featured" value="yes">
                <h6>no</h6><input type="radio" class="featured" id="featured2" name="featured" value="no">
              </div>

              <div class="form-field availability">
                <label for="availability">availability:</label>
                <select id="availability">
                  <option name="availability" value="">choose availability</option>
                  <option name="availability" value="for_sale">for_sale</option>
                  <option name="availability" value="under_offer">under_offer</option>
                  <option name="availability" value="sold_stc">sold_stc</option>
                  <option name="availability" value="sold">sold</option>
                </select>
                <select id="tolet_availability">
                  <option name="availability" value="">choose availability</option>
                  <option name="availability" value="to_let">to_let</option>
                  <option name="availability" value="let_agreed">let agreed</option>
                  <option name="availability" value="let">let</option>

                </select>
              </div>
            </fieldset>
            <!-- property marketing end-->

            <!-- propery decription -->
            <div class="form-title">
              <h4>property description</h4>
            </div>
            <fieldset class="fieldset-twocolumn roomFields">
              <div class="form-field">
                <label>summary description</label>
                <input type="text" name="summary_description" placeholder="summary description">
              </div>
              <div class="form-field">
                <label>room name</label>
                <input type="text" name="room_name" placeholder="Room name">
              </div>
              <div class="form-field">
                <label>add unique features</label>
                <input type="text" name="unique features" placeholder="unique features">
              </div>
              <div class="form-field">
                <label> &nbsp; </label>
                <button class="addroom" type="button" onclick="myfeatures(event)">add feature</button>
              </div>
              <div class="form-field">
                <label>room dimension</label>
                <input type="text" name="room_dimension" placeholder="Room Dimension">
              </div>
              <div class="form-field">
                <label>room description</label>
                <input type="text" name="room_description" placeholder="Room Dimension Text">
              </div>
              <div class="form-field">
                <label>roomimage</label>
                <input type="file" class="fileinput" name="roomimage" placeholder="roomimage" multiple="multiple">
              </div>
              <div><label> &nbsp; </label>
                <button class="addroom" type="button" onclick="myroomdata(event)">add room</button>
              </div>
            </fieldset>
            <!-- propery decription end-->
            <div class="newform">
              <div class="new-form-inr">
                <div class="newform-two-clr changes-s">
                  <div class="bottom-clrq">
                    <div class="first-bg-s">
                    </div>
                    <div class="change-clr">
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                      <div class="form-left-rq">
                        <div class="data">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- residentail sales details -->
            <div class="residentail_sale">
              <div class="form-title">
                <h4> residentail price</h4>
              </div>

              <fieldset class="fieldset-twocolumn ">
                <div class="form-field">
                  <label>orio</label>
                  <input type="text" name="residentail_orio" placeholder="residentail orio">
                </div>
                <div class="form-field">
                  <label>offers over</label>
                  <input type="text" name="residentail_offers_over" placeholder="residentail offers over">
                </div>
              </fieldset>
              <fieldset class="fieldset-threecolumn ">
                <div class="form-field">
                  <label>guide price</label>
                  <input type="number" name="residentail_guide_price" placeholder="residentail guide price">
                </div>
                <div class="form-field">
                  <label>fix price</label>
                  <input type="number" name="residentail_fix_price" placeholder="residentail fix price">
                </div>
                <div class="form-field">
                  <label>price on application</label>
                  <input type="number" name="residentail_price_on_application"
                    placeholder="residentail_price on application" multiple="multiple">
                </div>
              </fieldset>

              <div class="form-title">
                <h4>residentail tenure</h4>
              </div>
              <fieldset class="fieldset-twocolumn">
                <div class="form-field">
                  <label>free hold</label>
                  <input type="text" name="residentail_free_hold" placeholder="residentail free hold">
                </div>
                <div class="form-field">
                  <label>less hold</label>
                  <input type="text" name="residentail_less_hold" placeholder="residentail less hold">
                </div>
              </fieldset>
            </div>
            <!-- residentail sales details end -->

            <!-- residentail letting details -->
            <div class="residentail_letting">
              <div class="form-title">
                <h4>residentail letting</h4>
              </div>

              <fieldset class="fieldset-twocolumn ">
                <div class="form-field">
                  <label>per person per week</label>
                  <input type="text" name="per_person_per_week" placeholder="per person per week">
                </div>
                <div class="form-field">
                  <label>per week</label>
                  <input type="text" name="per_week" placeholder="per week">
                </div>
              </fieldset>
              <fieldset class="fieldset-threecolumn ">
                <div class="form-field">
                  <label>per calander month</label>
                  <input type="number" name="per_calander_month" placeholder="per calander month">
                </div>
                <div class="form-field">
                  <label>per quater</label>
                  <input type="number" name="per_quater" placeholder="per_quater">
                </div>
                <div class="form-field">
                  <label>per annum</label>
                  <input type="number" name="per_annum" placeholder="per_annum" multiple="multiple">
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn ">
                <div class="form-field">
                  <label>deposit</label>
                  <input type="text" name="deposit" placeholder="deposit">
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <label>furnishing</label>
                  <h6>unfurnished</h6><input type="radio" id="unfurnished" name="furnishing" value="unfurnished">
                  <h6>furnished</h6><input type="radio" id="furnished" name="furnishing" value="furnished">
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <input type="date" name="availabale_date">
                  <div class="availabale_date"></div>
                </div>
              </fieldset>
              <fieldset class="fieldset-onecolumn">
                <div class="form-field">
                  <input type="text" name="minimume_tenancy" placeholder="minimume Tenancy">
                </div>
              </fieldset>
            </div>
            <!-- residentail letting details end -->

            <!-- Property media -->
            <div class="form-title">
              <h4>Media</h4>
            </div>
            <div class="media-clr">
              <fieldset class="fieldset-threecolumn">
                <div class="form-field">
                  <input type="file" id="image" name="image" class="imageadd" multiple="multiple"
                    onchange="onFileSelected(event)" />
                </div>
              </fieldset>
            </div>
            <fieldset class="fieldset-fourcolumn">
            </fieldset>
            <!-- Property media end -->

            <div class="form-field forid">
              <input type="text" name="id" placeholder="id">
            </div>

            <!-- Submit -->
            <div class="submit-btn">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <a href="javascript:void(0)" class="addProperty">Add</a>
  <a href="mypage.ejs" class="showProp">see details</a>
  <section class="new-filter-section">
    <div class="wrapper">
      <div class="new-filter-inr">
        <div class="filter-cols">
          <% properties.forEach((item)=>{%>
            <div class="filter-box">
              <div class="filter-box-inr">
                <div class="filter-img-s">
                  <% item.image.forEach((image)=>{%>
                    <%- image.image %>
                      <div>
                        <div class="filer-bg-img" style="background-image: url(/profile/<%-image.imagedata%>);">
                          <!--style="background-image: url(https://propertyapp.hubresolution.com/profile/<%-image.image%>);">  -->

                        </div>
                      </div>
                      <%});%>
                </div>
                <div class="filter-bottom-s">
                  <div class="content-s forid">
                    <h2><%- item._id %>&nbsp;</h2>
                  </div>
                  <div class="content-s">
                    <h2><%- item.owner_contect_details %>&nbsp;</h2>
                  </div>
                  <div class="summary-con">
                    <h2><%- item.address.building_name %>&nbsp;</h2>
                  </div>
                  <div class="summary-con">
                    <h2><%- item.availability %>&nbsp;</h2>
                  </div>
                  <span class="summary-con">
                    <p><%- item.location_map %></p>
                  </span>
                  <h5 class="price-title">

                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                      <path
                        d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm1 16.947v1.053h-1v-.998c-1.035-.018-2.106-.265-3-.727l.455-1.644c.956.371 2.229.765 3.225.54 1.149-.26 1.384-1.442.114-2.011-.931-.434-3.778-.805-3.778-3.243 0-1.363 1.039-2.583 2.984-2.85v-1.067h1v1.018c.724.019 1.536.145 2.442.42l-.362 1.647c-.768-.27-1.617-.515-2.443-.465-1.489.087-1.62 1.376-.581 1.916 1.712.805 3.944 1.402 3.944 3.547.002 1.718-1.343 2.632-3 2.864z">
                      </path>
                    </svg>
                    <span>
                      <% if(item.price) { %>
                        <%- item.price.fixed_price%>
                          <% } else{ %>
                            &nbsp;
                            <% } %>
                    </span>
                  </h5>
                  <h5 class="price-title">
                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                      clip-rule="evenodd">
                      <path
                        d="M24 19v-7h-23v-7h-1v14h1v-2h22v2h1zm-20-12c1.104 0 2 .896 2 2s-.896 2-2 2-2-.896-2-2 .896-2 2-2zm19 4c0-1.657-1.343-3-3-3h-13v3h16z" />
                    </svg>
                    <span>
                      <% if(item.property_description) { %>
                        <%- item.property_description.length%>
                          <% } else{ %>
                            0
                            <% } %>
                    </span>
                  </h5>

                  <div class="button-s">
                    <div class="button">
                      <a href="javascript:void(0)" class="editProp" data-id="<%- item._id %>" >
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="m11.25 6c.398 0 .75.352.75.75 0 .414-.336.75-.75.75-1.505 0-7.75 0-7.75 0v12h17v-8.749c0-.414.336-.75.75-.75s.75.336.75.75v9.249c0 .621-.522 1-1 1h-18c-.48 0-1-.379-1-1v-13c0-.481.38-1 1-1zm1.521 9.689 9.012-9.012c.133-.133.217-.329.217-.532 0-.179-.065-.363-.218-.515l-2.423-2.415c-.143-.143-.333-.215-.522-.215s-.378.072-.523.215l-9.027 8.996c-.442 1.371-1.158 3.586-1.264 3.952-.126.433.198.834.572.834.41 0 .696-.099 4.176-1.308zm-2.258-2.392 1.17 1.171c-.704.232-1.274.418-1.729.566zm.968-1.154 7.356-7.331 1.347 1.342-7.346 7.347z"
                            fill-rule="nonzero"></path>
                        </svg></a>
                    </div>
                    <div class="button">
                      <a href="javascript:void(0)" class="deleteProp" data-id="<%- item._id %>">
                        <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                          viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="m20.015 6.506h-16v14.423c0 .591.448 1.071 1 1.071h14c.552 0 1-.48 1-1.071 0-3.905 0-14.423 0-14.423zm-5.75 2.494c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-4.5 0c.414 0 .75.336.75.75v8.5c0 .414-.336.75-.75.75s-.75-.336-.75-.75v-8.5c0-.414.336-.75.75-.75zm-.75-5v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-16.507c-.413 0-.747-.335-.747-.747s.334-.747.747-.747zm4.5 0v-.5h-3v.5z"
                            fill-rule="nonzero" />
                        </svg>
                      </a>
                    </div>

                    <% if(item.pushedToHive) { %>
                      <div class="button">
                        <a href="javascript:void(0)" class="pushToHive" data-id="<%- item._id %>">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                              d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092-4.005 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-7.479-1.092l4 4h-3v4h-2v-4h-3l4-4z" />
                          </svg>
                        </a>
                      </div>
                      <% } else{ %>

                        <% } %>

                  </div>
                </div>
              </div>
            </div>
            <%});%>

        </div>
      </div>
    </div>
  </section>
</body>

</html>
